.burger {
  position: relative;
  display: none;
  position: fixed;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  inset: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url("../../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.burger_active {
  display: block;
}

.burger__container {
  padding-top: 40px;
}

.burger__logo {
  margin-left: 224px;
  width: 356px;
  height: 79px;
}

.burger__logo-mobile {
  display: none;
}

.burger__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.burger-button__adults {
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  width: 280px;
  padding: 17px 27px 13px 34px;
  background: linear-gradient(180deg, #009344 0%, #017637 100%);
  border-radius: 25px 0px 0px 25px;
  border: none;
  border: 1px solid #01853E;
}

.burger-button__adults_inactive {
  color: #01843E;
  background: transparent;
  border: 1px solid #01853E;
  transition: all 0.2s ease-in-out;
}

.burger-button__children {
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  width: 280px;
  padding: 17px 27px 13px 34px;
  background: linear-gradient(180deg, #009344 0%, #017637 100%);
  border-radius: 0px 25px 25px 0px;
  border: none;
  border: 1px solid #01853E;
}

.burger-button__children_inactive {
  color: #01843E;
  background: transparent;
  border: 1px solid #01853E;
  transition: all 0.2s ease-in-out;
}

.burger__services {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  max-width: 1100px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.burger-service {

  position: relative;
  width: 356px;
  padding-left: 77px;
}

.burger-service::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-image: url("../../img/burger-icon-diagnostic.svg");
  background-size: cover;
  background-repeat: no-repeat;

}

.burger-service__link {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 6px;
}

.burger-service__items {
  padding-left: 15px;
}

.burger-service__item {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  color: #009344;
}

.burger-service__item::before {
  position: absolute;
  display: block;
  content: "";
  left: -15px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #009344;
  top: 50%;
  transform: translateY(-50%);
}

.burger__contacts {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.burger__contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 17px;
}

.burger__contact-title {
  font-size: 18px;
  line-height: 24px;
  color: #58595B;
}

.burger__contact-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.burger__nav {
  display: flex;
  gap: 23px;
  justify-content: center;
  margin-bottom: 78px;
}

.burger__nav-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.burger-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 42px 0 70px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #242627;
}

.burger-footer__wrapper-01 {
  display: flex;
  gap: 70px;
  align-items: center;
}

.burger-footer__phone {
  position: relative;
  display: block;
  font-size: 16px;
  max-width: 237px;
  color: #999999;
}

.burger-footer__phone::before {
  position: absolute;
  content: "";
  background-image: url("../../img/phone.svg");
  width: 16px;
  height: 16px;
  left: -28px;
}

.burger-footer__phone>span {
  color: #C4C4C4;
}

.burger-footer__feedback-btn {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  color: #CCCCCC;
}

.burger-footer__feedback-btn::before {
  position: absolute;
  content: "";
  background-image: url("../../img/heart.svg");
  width: 19px;
  height: 16px;
  left: -31px;
}

.burger-footer__appointment-btn {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  color: #CCCCCC;
}

.burger-footer__appointment-btn::before {
  position: absolute;
  content: "";
  background-image: url("../../img/calendar.svg");
  width: 19px;
  height: 19px;
  left: -31px;
}

.social-burger__items {
  display: flex;
  gap: 5px;
}

.social-burger__img {
  width: 20px;
  height: 20px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.burger__close {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  top: 30px;
  right: 30px;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  background-color: transparent;
}

.burger__close__text {
  padding-top: 2px;
}

.burger__close__img {
  width: 15px;
  height: 15px;
}

@media (max-width: 1500px) {
  .burger__close {
    top: 25px;
    right: 25px;
  }

  .burger__logo {
    display: none;
  }

  .burger__logo-mobile {
    display: block;
    width: 72px;
    height: 65px;
    margin-left: 48px;
  }

}

@media (max-width: 1200px) {

  .burger__buttons {
    margin-bottom: 60px;
  }

  .burger-button__adults {
    font-size: 15px;
    line-height: 15px;
    width: 224px;
    padding: 13px 18px 10px 23px;
  }

  .burger-button__children {
    font-size: 15px;
    line-height: 15px;
    width: 224px;
    padding: 13px 18px 10px 23px;
  }

  .burger__services {
    row-gap: 30px;
    max-width: 865px;
  }

  .burger-service {
    width: 280px;
  }

  .burger-service::before {
    width: 52px;
    height: 52px;
  }

  .burger-service__link {
    font-size: 14px;
    line-height: 14px;
  }

  .burger-service__items {
    padding-left: 12px;
  }

  .burger-service__item {
    font-size: 14px;
    line-height: 20px;
  }

  .burger-service__item::before {
    left: -12px;
    height: 6px;
    width: 6px;
  }

  .burger__contacts {
    gap: 24px;
  }

  .burger__contact {
    gap: 6px;
  }

  .burger__contact-title {
    font-size: 14px;
    line-height: 14px;
  }

  .burger__contact-phone {
    font-size: 32px;
    line-height: 32px;
  }

  .burger__nav-link {
    font-size: 16px;
    line-height: 16px;
  }

  .burger-footer__wrapper-01 {
    gap: 50px;

  }

  .burger-footer__phone {
    font-size: 14px;
    line-height: 14px;
    max-width: 207px;
  }

  .burger-footer__phone::before {
    position: absolute;
    content: "";
    background-image: url("../../img/phone.svg");
    width: 16px;
    height: 16px;
    left: -28px;
  }

  .burger-footer__feedback-btn {
    font-size: 14px;
    line-height: 14px;
  }

  .burger-footer__appointment-btn {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 900px) {
  .burger__close {
    top: 22px;
    right: 22px;
  }

  .burger__container {
    padding-top: 32px;
  }

  .burger__logo-mobile {
    margin-left: 32px;
  }

  .burger-button__adults {
    font-size: 12px;
    line-height: 12px;
    width: 168px;
    padding: 9px 9px 7px 12px;
  }

  .burger-button__children {
    font-size: 12px;
    line-height: 12px;
    width: 168px;
    padding: 9px 9px 7px 12px;
  }

  /* !! */
  .burger__services {
    row-gap: 30px;
    max-width: 865px;
  }

  .burger-service {
    padding-left: 30px;
  }

  .burger-service {
    width: 224px;
  }

  .burger-service::before {
    width: 25px;
    height: 25px;
  }

  .burger__contacts {
    gap: 20px;
  }

  .burger__contact-title {
    font-size: 12px;
    line-height: 12px;
  }

  .burger__contact-phone {
    font-size: 28px;
    line-height: 28px;
  }

  .burger__nav-link {
    font-size: 14px;
    line-height: 14px;
  }

  .social-burger {
    display: none;
  }
}


@media (max-width: 700px) {

  .burger__container {
    padding-top: 0px;
  }

  .burger__header-wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 0 16px;
    background-color: #000000;
    z-index: 600;
  }

  .burger__logo-mobile {
    width: 24px;
    height: 22px;
    margin-left: 0;
    align-self: center;
    display: block;
  }

  .burger__close {
    position: relative;
    gap: 6px;
    font-size: 12px;
    line-height: 12px;
    top: 0px;
    right: 0px;
  }

  .burger__close__text {
    padding-top: 0px;
  }

  .burger__close__img {
    width: 12px;
    height: 12px;
  }

  .burger__buttons {
    padding-top: 46px;
  }

  .burger-button__adults {
    font-size: 10px;
    line-height: 10px;
    width: 144px;
    padding: 9px 9px 7px 12px;
  }

  .burger-button__children {
    font-size: 10px;
    line-height: 10px;
    width: 144px;
    padding: 9px 9px 7px 12px;
  }

  .burger__services {
    row-gap: 20px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: start;
  }

  .burger-service {
    width: 213px;
    padding-left: 26px;
  }

  .burger-service::before {
    width: 20px;
    height: 20px;
  }

  .burger__wrapper-contacts-nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .burger__contacts {
    order: 1;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    padding-left: 16px;
  }

  .burger__contact-title {
    font-size: 14px;
    line-height: 14px;
  }

  .burger__contact-phone {
    font-size: 24px;
    line-height: 24px;
  }

  .burger__nav {
    position: relative;
    flex-direction: column;
    gap: 45px;
    justify-content: center;
    padding-left: 42px;
    padding-right: 16px;
    margin-bottom: 45px;
  }

  .burger__nav-link {
    position: relative;
    line-height: 0;
    display: block;

  }

  .burger__nav-link::before {
    position: absolute;
    content: "";
    background-image: url("../../img/arrow.svg");
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    left: -23px;
    top: -6px;
    /* top: 50%;
    transform: translateY(-50%); */
  }

  .burger__nav-link::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    height: 1px;
    left: 0px;
    right: 0;
    top: 15px;
    background: rgba(255, 255, 255, 0.1);
  }

  .burger-footer {
    display: none;
  }
}