.footer {
  background-image: url("../../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-up {
  padding: 9px 388px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-up__wrapper-01 {
  display: flex;
  gap: 70px;
  align-items: center;
}

.footer-up__phone {
  position: relative;
  display: block;
  font-size: 16px;
  max-width: 237px;
  color: #999999;
}

.footer-up__phone::before {
  position: absolute;
  content: "";
  background-image: url("../../img/phone.svg");
  width: 16px;
  height: 16px;
  left: -28px;
}

.footer-up__phone>span {
  color: #C4C4C4;
}

.footer-up__feedback-btn {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  color: #CCCCCC;
}

.footer-up__feedback-btn::before {
  position: absolute;
  content: "";
  background-image: url("../../img/heart.svg");
  width: 19px;
  height: 16px;
  left: -31px;
}

.footer-up__appointment-btn {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  color: #CCCCCC;
}

.footer-up__appointment-btn::before {
  position: absolute;
  content: "";
  background-image: url("../../img/calendar.svg");
  width: 19px;
  height: 19px;
  left: -31px;
}

.social-footer__items {
  display: flex;
  gap: 5px;
}

.social-footer__img {
  width: 20px;
  height: 20px;
}

.footer-middle {
  padding: 0 20px 45px 360px;
  display: flex;
  gap: 301px;

}

.footer__logo {
  width: 356px;
  height: 85px;
  margin-bottom: 36px;
}

.footer-middle__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #999999;
  margin-bottom: 16px;
}

.footer-middle__desc {
  max-width: 503px;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 22px;
  color: rgba(153, 153, 153, 0.7);
}

.social-footer__items_middle {
  display: flex;
  gap: 6px;
}

.social-footer__img_middle {
  width: 35px;
  height: 35px;
}

.footer-nav {
  display: flex;
  gap: 19px;
  padding-left: 360px;
  margin-bottom: 70px;
}

.footer-nav__link-home {
  width: 14px;
  height: 15px;
  color: #009344;
}

.footer-nav__items {
  display: flex;
  gap: 17px;
}

.footer-nav__link {
  font-size: 18px;
  line-height: 18px;
  color: rgba(222, 222, 222, 0.9);
}

.footer-middle__wrapper-02 {
  padding-top: 13px;
}

.footer-middle__contacts {
  font-size: 22px;
  line-height: 18px;
  color: rgba(153, 153, 153, 0.5);
  margin-bottom: 30px;
}

.footer-middle__contact {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: #CCCCCC;
  margin-bottom: 15px;
}

.footer-middle__contact_link {
  display: block;
  margin-bottom: 45px;
}

.footer-middle__contact_phone {
  font-size: 18px;
  line-height: 18px;
}

.footer-middle__contact_phone>span {
  font-size: 24px;
  line-height: 18px;
}

.footer-middle__contact::before {
  position: absolute;
  content: "";
}

.footer-middle__contact_address::before {
  background-image: url("../../img/geo.svg");
  width: 10px;
  height: 16px;
  left: -30px;
}

.footer-middle__contact_phone::before {
  background-image: url("../../img/phone.svg");
  width: 14px;
  height: 14px;
  left: -30px;
}

.footer-middle__contact_schedule::before {
  background-image: url("../../img/clock.svg");
  width: 14px;
  height: 14px;
  left: -30px;
}

.footer-middle__contact_link::before {
  background-image: url("../../img/mail.svg");
  width: 14px;
  height: 11px;
  left: -30px;
}

.footer-middle__pay {
  font-size: 16px;
  line-height: 18px;
  color: #58595B;
  margin-bottom: 19px;
}

.footer-pay {
  display: flex;
  gap: 11px;
}

.footer-pay__card {
  border: none;
  background-color: transparent;
  align-items: center;
}

.footer-down {
  padding: 0px 12px 16px;

}

.footer-down__wrapper {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
}

.footer-down__text {
  font-size: 12px;
  line-height: 12px;
  color: #58595B;
}

@media (max-width: 1550px) {

  .footer-up {
    padding: 9px 48px 70px 76px;
  }

  .footer-up__wrapper-01 {
    gap: 50px;
  }

  .footer-middle {
    padding: 0 48px 75px;
    display: flex;
    gap: 230px;
  }

  .footer-nav {
    padding-left: 48px;
  }
}

@media (max-width: 1200px) {
  .footer-up {
    padding: 9px 68px 70px;
  }


  .footer-up__phone {
    font-size: 14px;
    max-width: 207px;
  }

  .footer-up__phone::before {
    font-size: 14px;
    line-height: 14px;
  }

  .footer-up__feedback-btn {
    font-size: 14px;
    line-height: 14px;
  }

  .footer-middle {
    padding: 0 40px 75px;
    gap: 99px;
  }

  .footer-nav {
    display: flex;
    gap: 17px;
  }

  .footer-nav__items {
    gap: 15px;
  }

  .footer-nav__link {
    font-size: 16px;
    line-height: 16px;
  }

  .footer-middle__wrapper-02 {
    padding-top: 10px;
  }

  .footer-middle__contacts {
    margin-bottom: 25px;
  }

  .footer-middle__contact {
    margin-bottom: 13px;
  }
}

@media (max-width:1000px) {
  .footer-up {
    padding: 9px 58px 70px;
  }

  .footer-up__wrapper-02 {
    display: none;
  }

  .footer__logo {
    width: 270px;
    height: 60px;
    margin-bottom: 21px;
  }

  .footer-middle {
    padding: 0 30px 75px;
    gap: 46px;
  }

  .footer-middle__text {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 11px;
  }

  .footer-middle__desc {
    font-size: 14px;
    line-height: 16px;
  }

  .footer-nav {
    margin-bottom: 65px;
  }

  .footer-middle__contacts {
    display: none;
  }

  .footer-middle__contact {
    font-size: 14px;
    line-height: 14px;
  }

  .footer-middle__contact_phone {
    font-size: 14px;
    line-height: 14px;
  }

  .footer-middle__contact_phone>span {
    font-size: 18px;
    line-height: 14px;
  }

  .footer-down__text {
    font-size: 10px;
    line-height: 10px;
  }
}

@media (max-width:750px) {
  .footer-up {
    display: none;
  }


  .footer__logo {
    width: 180px;
    height: 40px;
    margin-bottom: 12px;
  }

  .footer-middle {
    flex-direction: column;
    padding: 20px 16px 35px;
    gap: 27px;
  }

  .footer-middle__text {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 6px;
  }

  .footer-middle__desc {
    font-size: 14px;
    line-height: 16px;
    max-width: 100%;
  }

  .footer-nav {
    display: none;
  }

  .footer-down__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-down__text {
    font-size: 10px;
    line-height: 10px;
  }
}