.map__container {
  width: 100%;
  padding-top: 40px;
}

#map {
  height: 400px;
}


@media (max-width: 1024px) {
  .map__container {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .map__container {
    padding-top: 24px;
  }

  #map {
    height: 323px;
  }
}

@media (max-width: 700px) {

  #map {
    height: 200px;
  }
}