.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: default;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-appointment__main {

  position: relative;
  width: 900px;
  height: 600px;
  padding: 0 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
  background-color: #fff;
}

.modal-appointment__container {
  position: relative;
  background-image: none;
}

.modal-appointment__close {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  top: 30px;
  right: 18px;
  color: #009344;
  border: none;
  background-color: transparent;
}

.modal-appointment__close__text {
  padding-top: 2px;
}

.modal-appointment__close__img {
  width: 15px;
  height: 15px;
}

.modal-appointment__title {
  padding-top: 95px;
}

.modal-appointment__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 90px;
}

.modal-appointment__form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
}


.modal-appointment__submit {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  width: 240px;
  height: 50px;
  border: none;
  background: linear-gradient(180deg, #009344 0%, #017637 100%);
  border-radius: 25px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 90px;
}

.modal-appointment__submit-text {
  padding-left: 25px;
  text-transform: uppercase;
}

.modal-appointment__submit-arrow {
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1280px) {
  .modal-appointment__main {
    width: 700px;
    height: 450px;
  }

  .modal-appointment__title {
    padding-top: 45px;
    font-size: 28px;
    line-height: 28px;
  }

  .modal-appointment__subtitle {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 60px;
  }

  .modal-appointment__input {
    width: 263px;
    height: 42px;
    padding-left: 38px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 147, 68, 0.5);
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
  }

  .modal-appointment__submit {
    width: 200px;
    padding-top: 14px;
    padding-bottom: 11px;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 45px;
  }

  .modal-appointment__submit-text {
    padding-left: 17px;
  }

  .modal-appointment__submit-arrow {
    right: 13px;
    width: 24px;
    height: 24px;
    top: 24px;
  }

  .modal-appointment__text {
    max-width: 520px;
  }
}

@media (max-width: 1024px) {


  .modal-appointment__container {
    padding: 24px 0 24px;
  }

  .modal-appointment__title {
    font-size: 24px;
    line-height: 24px;
  }

  .modal-appointment__subtitle {
    margin-bottom: 30px;
  }

  .modal-appointment__close {
    top: 25px;
    right: 25px;
  }
}


@media (max-width: 850px) {
  .modal-appointment__main {
    width: 550px;
    height: 350px;
  }

  .modal-appointment__container {
    padding: 24px 0 16px;
  }

  .modal-appointment__title {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .modal-appointment__subtitle {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 12px;
  }

  .modal-appointment__label {
    font-size: 10px;
    line-height: 10px;
  }

  .modal-appointment__input {
    width: 224px;
    padding-top: 13px;
    height: 36px;
    font-size: 13px;
    line-height: 13px;
  }

  .modal-appointment__input-wrapper::after {
    left: 10px;
    height: 15px;
  }

  .modal-appointment__input-wrapper_phone:after {
    width: 15px;
  }

  .modal-appointment__input-wrapper_name:after {
    width: 16px;
  }

  .modal-appointment__input::placeholder {
    font-size: 12px;
    line-height: 12px;
  }

  .modal-appointment__submit {
    width: 170px;
    height: auto;
    padding-top: 13px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 25px;
  }

  .modal-appointment__submit-text {
    padding-left: 17px;
  }

  .modal-appointment__submit-arrow {
    right: 13px;
    width: 24px;
    height: 24px;
    top: 18px;
  }

  .modal-appointment__close {
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 763px) {
  .modal-appointment__main {
    width: 288px;
    height: 450px;
  }

  .modal-appointment__container {
    padding: 7px 6px 1px;
  }

  .modal-appointment__title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 6px;
  }

  .modal-appointment__subtitle {
    margin-bottom: 24px;
  }

  .modal-appointment__form {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
  }

  .modal-appointment__input {
    width: 224px;
  }

  .modal-appointment__close {
    font-size: 12px;
    line-height: 12px;
    gap: 3px;
    top: 10px;
    right: 10px;
    color: #009344;
    border: none;
    background-color: transparent;
  }

  .modal-appointment__close__text {
    padding-top: 0px;
  }

  .modal-appointment__close__img {
    width: 12px;
    height: 12px;
  }
}